.footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.bg-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.bg-footer img {
  width: 100%;
  z-index: -1;
}


.right-text p, .cr-text {
  font-family: 'Neue Montreal Regular';
  font-size: var(--small-font-size);
  color: white;
  line-height: 115%;
}

.small-credits-container{
  display: flex;
  gap:5rem ;
}

.small-credits {
  font-family: 'Neue Montreal Medium';
  font-size: var(--very-small-font-size);
  color: white;
  line-height: 130%;
  text-decoration: none;
}

.right-text {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 5.5rem;
  width: 100%;
  justify-content: right;
  padding-top: 5.5rem;
  padding-right: clamp(2rem, 8vw, 10rem);
}

.credits-texts {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2rem;
  padding-bottom: 4rem;
  padding-right: clamp(2rem, 2rem + 6vw, 8rem);

}