.home-container {
  width: 100%;
  background-color: #E2E2E2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.txt-news-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:0 2rem ;
  padding-top: 3.75rem;
  padding-bottom: 1.5rem;

}

.txt-used {
  color: var(--brown);
  font-size: var(--very-small-font-size);
  font-weight: var(--regular-weight);
  line-height: 130%;

}

.link-used {
  color: var(--pink);
  font-size: var(--very-small-font-size);
  font-weight: var(--regular-weight);
  line-height: 130%;

}

.loading-message {
  padding: 2rem;
  color: var(--pink);
}

.grid-container-novedades {
  display: grid;
  width: 100%;
  padding: 0 2rem;
  padding-bottom: 8rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  place-content: center;
  justify-content: center;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}
