.container-headerbackground {
  position: relative;
  width: 100%;
  height: auto;
}

.bg-img-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100vh;
}

.header-bg {
  width: 100%;
  z-index: -1;
}

/* Moving header */

.moving-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 300%; 
  display: flex;
  animation: move 50s linear infinite;
  will-change: transform;
}

.bg-txt {
  width: 33.333%;
  height: auto;
  object-fit: cover;
}

@keyframes move {
  0% {
    transform: translateX(-66.666%);
  }
  100% {
    transform: translateX(0); /* Mueve 2/3 del contenedor */
  }
}

/* Buttons&Links */

.btns-containers {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

.menu-bar, .queer-bar, .store-bar {
  background: transparent;
  border: none;
  padding-top: 3.5rem;
  cursor: pointer;
}

.right-menu-bar {
  display: flex;
  gap: 0.5rem;
  position: fixed;
  right:2rem

}
.left-menu-bar {
  position: fixed;
  left:2rem;
  
}
/* Open NavBar */

.menu-navBar {
  position: fixed;
  z-index: 1;
  width: 33%;
  height: 100vh;
  background-color: var(--brown);
}

.open-bar {
  padding-left: 2rem;
  background-color: transparent;
  border: none;
  padding-top: 3.5rem;
  z-index: 1;
  cursor: pointer;

}
.links-container {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  margin-top: 2rem;
}

.sub-links-container {
  display: flex;
  flex-direction: column;
}

.links-menu-open {
  color: var(--orange);
  text-decoration: none;
  font-family: 'Neue Montreal Regular';
  font-size: var(--super-large-font-size)
}

.links-menu-open:hover, .links-sub-menu-open:hover {
  color: var(--pink);

}

.links-sub-menu-open {
  color: var(--orange) ;
  text-decoration: none;
  font-family: 'Neue Montreal Medium';
  font-size: var(--very-small-font-size);
}

/* Queer Container */

.queer-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right:0;
  z-index: 1;
  width: 68%;
  height: 100vh;
  background-color: var(--orange);
  padding-left: 1.5rem;
}

.queer-txt {
  color: white;
  white-space: pre-line;
  font-family: 'Neue Montreal Regular';
  font-size: var(--large-font-size);

}

.queer-open-bar {
  display: flex;
  flex-direction: row ;
  justify-content: space-between;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 3.875rem;
}

.queer-open-bar img {
  cursor: pointer;
}

.queer-open-bar p {
  color: var(--brown);
  font-family: 'Neue Montreal Medium';
  font-size: var(--very-small-font-size);
  line-height: 130%;
}